<div id="container">
	<div class="c-all">
		{{str2html .bread_crumb}}
		<center class="tag-center">
			<div class="tag-bg" style="background-image:url({{.tag.thumb}})">
			</div>
			<div class="tag-desc">
				<!-- <div class="tag-title-box">{$tag['name']}<div></div></div> -->
				<div class="tag-thumb-box">
					<img src="{{.tag.thumb}}">
				</div>
				<h2>{{.tag.name}}</h2>
				<ul class="tag-info-box">
					<li>文章数:{{.arts_num}}</li>|
					<li>热度:{{Add .tag.top .tag.order}}</li>
				</ul>
				
				<div class="more-tags"><i class="icon more-icon"></i><a href="/tags">更多标签</a></div>
				<p>
					{{.global.seo.description}}
				</p>
			</div>
		</center>
	</div>
	<div class="c-left">
		<div class="section sec1">
			
		</div>
		
		<div class="section sec2">
			<div class="section-head">
				最新文章
				{{if eq .order_type "desc"}}
				<a href="javascript:;" class="change-order" data-type="asc">升序排序</a>
				{{else if eq .order_type "asc"}}
				<a href="javascript:;" class="change-order" data-type="desc">降序排序</a>
				{{end}}
			</div>
			<script>
				$(function(){
					$(".change-order").click(function(){
						let href = location.origin+location.pathname
						let order_type=$(this).attr("data-type")
						location.href = href+"?order_type="+order_type
					})
				})
			</script>
			<div class="section-content">
				<ul class="index-ul-blog">
					{{range $blog_index, $blog := .blogs}}
					<li class="item-blog">
						<div class="blog-img inline-block">
							<a href="/blog-{{$blog.id}}.html" target="_blank">
								<img src="{{$blog.thumb}}" onerror="this.src='/static/home/images/default.png'" title="{{$blog.title}}" alt="{{$blog.title}}"/>
								{{$category_map := (index $.category_map $blog.tid)}}
								<a class="cate-tag1" href="/cate-{{$category_map.en_name}}" target="_blank">{{$category_map.zh_name}}</a>
							</a>
						</div>
						<div class="blog-info inline-block">
							<h2 class="blog-h2"><a href="/blog-{{$blog.id}}.html" target="_blank" title="{{$blog.title}}">{{$blog.title}}</a></h2>
							<div>发布时间:<span>{{$blog.create_time}}</span></div>
							<p>{{$blog.description}}</p>
						</div>
					</li>
					{{end}}
				</ul>
			</div>

			{{template "public/tag_paginate.html" .}}
		</div>
		
	</div>

	{{template "right/right.html" .}}
</div>