<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/statics/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/statics/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/statics/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/statics/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/statics/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/statics/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/statics/admin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/statics/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>站点图片设置</title>
</head>
<style>
    .btn{vertical-align: top!important;}
</style>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl" style="overflow: hidden">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>Logo：*.png<br>小于200kb</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                <input type="file"  name="logo" class="input-file filepath show1"  onchange="changepic(this.files,'show1')" accept="image/png">
                <div style="position: relative;display: inline-block;margin-left: 45px">
                    <img src="/logo.png" id="show1" width="300">
                </div>
            </div>
        </div>
        <div class="row cl" style="overflow: hidden">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缺省封面图：*.png<br>小于200kb</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                <input type="file"  name="noimg" class="input-file filepath show3"  onchange="changepic(this.files,'show3')" accept="image/png">
                <div style="position: relative;display: inline-block;margin-left: 45px">
                    <img src="/static/home/images/default.png" id="show3" width="300">
                </div>
            </div>
        </div>
        <div class="row cl" style="overflow: hidden">
            <label class="form-label col-xs-4 col-sm-2">ICO：*.ico<br>小于60kb</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                <input type="file"  name="ico" class="input-file filepath show2"  onchange="changepic(this.files,'show2')" accept=".ico">
                <div style="position: relative;display: inline-block;margin-left: 45px">
                    <img src="/favicon.ico" id="show2" width="45">
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <div class="Hui-tags">
                    <div class="Hui-tags-editor cl">
                        <i class="Hui-tags-icon Hui-iconfont">&#xe64b;</i>
                        <span class="Hui-tags-token">F-web管理系统</span>
                        <span class="Hui-tags-token">images</span>

                    </div>
                    <div class="Hui-tags-list">
                        <div class="Hui-tags-has"><span>图片修改后若没有即时生效 请先按ctrl+f5刷新</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/statics/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/statics/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/statics/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/statics/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="/statics/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/statics/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/statics/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/statics/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/statics/admin/lib/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="/statics/admin/lib/kindeditor/lang/zh-CN.js"></script>

<script type="text/javascript">
    function changepic(files,ele) {
        var reads= new FileReader();
        reads.readAsDataURL(files[0]);
        reads.onload=function (e) {
            document.getElementById(ele).src=this.result;
        };
    }

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        //表单验证
        $("#form-article-add").validate({
            rules:{

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                var option = {
                    url:'admin/index/site_pic_do',
                    type:'post',
                    beforeSubmit:function(data){

                    },
                    success:function(result){
                        if(result['code'] == 200){
                            layer.msg('修改成功',{icon:1,time:1500});
                        }else{
                            layer.msg(result['msg']);
                        }
                    },
                    error:function(){
                        layer.alert('系统或网络错误，请联系管理员！');
                    },
                    dataType:'json',　　　　　　　//服务器返回数据类型
                }
                $(form).ajaxSubmit(option);
            }
        });
    });


</script>


<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>